.titulo{
    align-items: center;
    justify-items: center;
}
html{
    background-color: rgb(235, 187, 98);
}
header{
    background-color: white;
    margin: 5px;
    align-items: center;
    justify-items: center;
    display: flex;
}
main{
    height: 300px;
    background-color: white;
    margin: 5px;
}
aside{
    height: 400px;
    background-color: white;
    margin: 5px;
}